body {
    background-color: #0d0d0d;
    color: #f5f5f5;
    margin: 0; padding: 0; 
}

.link1 {
    text-align: right;
    margin-left: 85%;
    margin-top: 6%;
}

.titulo {
    font-size: 3rem;
    text-align: center;
    letter-spacing: 18px;
    font-family: fantasy;
    text-transform: uppercase;
    font-weight: 700;
}
